* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
background-color: #fcd6e8;
}

/* header och tid+datum rutan */

header {
    border: solid purple;
    display: flex;
    flex-direction: column;
}

.date-card {
    border: solid purple;
    border-radius: 10px;
    background-color: #d38dae;
    align-self: center;
    margin: 2rem;
}

/* huvudsektionen med alla kort, styling för varje kort + inom korten  */
main {
    border: solid purple;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.header-div {
    align-self: center;
    border: solid purple;
    /* margin: 3rem 2rem 2rem; */
    margin: 40px;
}

.card-container {
    border: solid #800080;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.cards {
    border: solid purple;
    background-color: #d38dae;
    border-radius: 20px;
    min-width: 20vw;
    max-height: 40vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

h3 {
    align-self: center;
}

.link-div {
    border: solid purple;
    background-color: #fcd6e8;
    border-radius: 15px;
    margin: 10px 10px ;
    padding: 2px 0 5px 5px; 
}

.link-container {
    /* för att kunna skrolla när fler länkar läggs till */
    max-height: 80%;
    overflow: scroll;
}

.logo-img{
    max-width: 25px;
    margin-right: 10px;
}

#input-area {
    resize: none;
}

/* footern med ruta för att byta till random bg bild  */
footer {
    border: solid purple;
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

.bg-div{
    align-self: center;
    border: solid purple;
    border-radius: 10px;
    margin: 1rem;
    background-color: #d38dae;
}
